<ul class="list-styled">
    {% for record in info.getTextElements() %}
        {% for key,value in record %}
            <li class="fade"><span class="title">{{ key }}:</span>{{ value }}</li>
        {% endfor %}
    {% endfor %}
</ul>


{% for record in info.getMarkDownElements() %}
    {% for key,value in record %}
        <div class="markdown-content">
        <p class="fade"><span class="title">{{ key }}:</span>{{ value|markdown }}</p>
        </div>
    {% endfor %}
{% endfor %}
