# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
services:
    app.menu_builder:
        class: AppBundle\Menu\MenuBuilder
        autowire: true
        tags:
            - { name: knp_menu.menu_builder, method: createMainMenu, alias: main } # The alias is what is used to retrieve the menu

    app.security.authentication_failure_event_listener:
      class: AppBundle\Security\AuthenticationFailureListener
      autowire: true
      tags:
      - {name: kernel.event_subscriber}

    app.security.consumer_login_form_authenticator:
      class: AppBundle\Security\PublicLoginFormAuthenticator
      autowire: true

    app.security.administration_login_form_authenticator:
      class: AppBundle\Security\AdministrationLoginFormAuthenticator
      autowire: true

    security.user_checker:
        class: AppBundle\Security\UserChecker
        arguments: [ "app.security.login_form_authenticator:", "" ]

    app.security.acl_provider:
          class: AppBundle\Security\ACLSecurityProvider
          autowire: true

    app.doctrine.has_password_listener:
      class: AppBundle\Doctrine\HashPasswordListener
      autowire: true
      tags:
      - {name: doctrine.event_subscriber }

    jsor_doctrine_postgis_doctrine_orm_schema_subscriber:
          class: 'Jsor\Doctrine\PostGIS\Event\ORMSchemaEventSubscriber'
          public: false
          tags:
              - { name: doctrine.event_subscriber, connection: default }

    app.twig.menu_extension:
        class: AppBundle\Twig\MenuExtension
        arguments:
            - '@knp_menu.helper'
            - '@knp_menu.matcher'
        tags:
            - { name: twig.extension }

    app.helper.grid_builder:
        class: AppBundle\Helpers\GridBuilder
        autowire: true

    app.helper.chart_builder:
        class: AppBundle\Helpers\ChartBuilder
        autowire: true

    app.helper.info_builder:
            class: AppBundle\Helpers\InfoBuilder
            autowire: true

    app.helper.image_uploader:
                class: AppBundle\Helpers\ImageUploader
                autowire: true

    app.helper.base_64_decoder:
                class: AppBundle\Helpers\Base64Decoder
                autowire: true


    app.helper.file_loader:
            class: AppBundle\Helpers\FileLoader
            autowire: true

    app.helper.leaflet_data_transformer:
                class: AppBundle\Helpers\LeafletDataTransformer
                autowire: true

    app.helper.audit_trail_logger:
        class: AppBundle\Helpers\AuditTrailLogger
        autowire: true

    app.acl_voter:
            class: AppBundle\Security\ACLVoter
            autowire: true
            tags:
                - { name: security.voter }
            # small performance boost
            public: false

    app.form.type.distance_calculator_form:
                    class: AppBundle\Form\Reports\DistanceCalculatorReportFormType
                    autowire: true
                    tags:
                        - { name: form.type }


    app.form.type.ward_form:
                    class: AppBundle\Form\Location\WardFormType
                    autowire: true
                    tags:
                        - { name: form.type }

    app.form.type.village_street_form:
                    class: AppBundle\Form\Location\VillageStreetFormType
                    autowire: true
                    tags:
                        - { name: form.type }


    app.form.type.app_user_region_form:
                    class: AppBundle\Form\DataCollector\DataCollectorRegionFormType
                    autowire: true
                    tags:
                        - { name: form.type }

    app.form.type.portal_user_account_form:
                    class: AppBundle\Form\Accounts\UserFormType
                    autowire: true
                    tags:
                        - { name: form.type }


    app.form.type.app_court_data_form:
                    class: AppBundle\Form\Court\CourtFormType
                    autowire: true
                    tags:
                        - { name: form.type }

    app.form.type.role_form:
                class: AppBundle\Form\Accounts\RolePermissionFormType
                arguments:
                    - '@doctrine.orm.entity_manager'
                    - '@app.helper.file_loader'
                    - '%permissions_file%'
                    - '@request_stack'
                tags:
                    - { name: form.type }

    app.form.type.staff_role:
                class: AppBundle\Form\Accounts\UserRoleFormType
                autowire: true
                tags:
                    - { name: form.type }


    app.validator.zone:
                class: AppBundle\Form\Validator\Constraints\IsUniqueZoneValidator
                autowire: true
                tags:
                    - { name: validator.constraint_validator, alias: app.validator.zone }

    app.validator.region:
                class: AppBundle\Form\Validator\Constraints\IsUniqueRegionValidator
                autowire: true
                tags:
                    - { name: validator.constraint_validator, alias: app.validator.region }

    app.validator.district:
                class: AppBundle\Form\Validator\Constraints\IsUniqueDistrictValidator
                autowire: true
                tags:
                    - { name: validator.constraint_validator, alias: app.validator.district }

    app.validator.ward:
                class: AppBundle\Form\Validator\Constraints\IsUniqueWardValidator
                autowire: true
                tags:
                    - { name: validator.constraint_validator, alias: app.validator.ward }

    app.validator.village.street:
                class: AppBundle\Form\Validator\Constraints\IsUniqueVillageStreetValidator
                autowire: true
                tags:
                    - { name: validator.constraint_validator, alias: app.validator.village_street }

    app.twig.court_mapping_extension:
            class: AppBundle\Twig\CourtMappingExtension
            autowire: true
            tags:
                - { name: twig.extension }

    AppBundle\EventSubscriber\LocaleSubscriber:
        arguments: ['%kernel.default_locale%']
        # redundant if you're using autoconfigure
        tags: [kernel.event_subscriber]