@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/opensans-regular-webfont.eot');
	src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
	url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/opensans-bold-webfont.eot');
	src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
	url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
	url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/opensans-light-webfont.eot');
	src: url('../fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
	url('../fonts/opensans/opensans-light-webfont.woff') format('woff'),
	url('../fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
	url('../fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: 100;
	font-style: normal;

}


h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	font-size:0.8em;
	color:#34495e;
}

div#loader{
	height:100px;
	width:100px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	z-index:9999;
}

/* Section Inner */
div.section-inner {
	width:90%;
	padding: 0 0px;
	margin: 0 auto;
}

/* Section Outer */
div.section-outer{
	width:98%;
	margin:auto;
	padding: 0 0;
}

/* Fade */
.fade{
	  -webkit-transition: all 0.2s ease;
	  -moz-transition: all 0.2s ease;
	  -o-transition: all 0.2s ease;
	  transition: all 0.2s ease;
}


/* White space */
.white-space{
	background:#FFFFFF;
}

/* Right */
.align-right{
	text-align:right;
}

.align-left{
	text-align:left;
}


/* Center */
.align-center{
	text-align:center;
}

div.drop-shadow{
	box-shadow: 1px 0 3px rgba(0,0,0,.15);
}

div.drop-shadow-2{
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

span.bold{
font-weight:bolder;
}
span.em{
font-style:italic;
}
span.big{
font-size:30px;
color:#CA0000;
}
div.divider {
    width: 50px;
    height: 3px;
    margin: 15px auto;
    background: #CA0000;
}
span.green{
    color:#FF0000;
}
span.lighter{
    font-weight:lighter;
}

/* Space */
div.space {
	height:60px;
}
div.space-30{
	height:30px;
}
div.space-20{
	height:24px;
}
div.space-10{
	height:10px;
}

div.clear{
	clear:both;
}
div.align-right{
	text-align:right;
}

/* End Of Styling Space*/

/* Container */
div.container{
	width:60%;
	margin:auto;
}

div.top-bar{
	height:35px;
	background:#ff0000;
}

div.top-bar p, div.top-bar a {
	padding-top:10px;
	display: inline-block;
    color:#FFFFFF;
	text-decoration: none;
    font-weight:bolder;
    font-size:0.8em;
}

div.top-bar a:hover{
	text-decoration: underline;
}

/* Header styling */

div.header {
	padding:0;
	height:110px;
}

img.header-logo{
	border:none;
	padding-top: 0px;
	height:100px;
	margin-top: 5px;
}
div.language-switcher{
	height:100px;
	padding-top:42px;
	text-align:center;
}
.language-switcher a{
	color:#34495e;
	font-weight:bolder;
}
.language-switcher a:hover{
	text-decoration: underline;
}
/* end of styling header */


.slicknav_menu {
	display:none;
}


/* Styling the main menu */
div.navigation-bar{
	text-align:right;
	padding-top:25px;
}

div#menu-area{
	float:right;
}


a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}

#menu-area ul.tabs{
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index:100;
}

#menu-area ul.tabs li{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	float: left;
	position: relative;
}

#menu-area ul.tabs a{
	position: relative;
	display: block;
}

#menu-area ul.dropdown{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 999;
	top: 100%;
	width: 250px;
	display: none;
	left: 0;
	box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.28571429rem;
	transition: opacity 0.1s ease;
	will-change: transform, opacity
}

#menu-area ul.dropdown ul.dropdown{
	top: 0;
	left: 95%;
}

#menu-area ul.dropdown li{
	margin: 0;
	padding: 0;
	float: none;
	position: relative;
	list-style: none;
	display: block;
}

#menu-area ul.dropdown li a{
	display: block;
}
#menu-area ul{
	margin: 10px 0 0 0;
}

#menu-area ul li.hasmore,#menu ul li.lastone{
	width:90px;
	text-align:center;
}

#menu-area ul li.separator{
	width:10px;
	height:30px;

}

#menu-area ul li.lastone{
	background:none;
}

#menu-area ul li a{
	font-size:1.0em;
	color:#373C43;
	padding: 15px 20px 15px 20px ;
	height:20px;
	width:auto;
	font-weight: bolder;
}

#menu-area ul li a:hover,#menu-area ul li.selected a:hover{
	color:#FF0000;
}

#menu-area ul li.selected a{
	color:#FF0000;
}

#menu-area ul li a span{
	display: block;
	padding: 0 15px 0 11px;
}

#menu-area ul.dropdown{
	padding: 0px;
	overflow:hidden;
	width: 250px;
	margin-top:0px;
	text-align:left;
	background:#FFFFFF;
}

#menu-area ul.dropdown li a{
	font-size:1em;
	height: 22px;
	padding:10px 0px 3px 20px;
	color:#373C43;
	width:100%;
	border-bottom:none;
	font-weight: normal;
}

#menu-area ul.dropdown li.last a{
	border-bottom-width: 0;
}

#menu-area ul.dropdown li.selected a{
	background:#F2F2F2;
}

#menu-area ul.dropdown li a:hover{
	border-bottom:none;
	background:#F2F2F2;

}

#menu-area ul.dropdown li a.selected{
	background:#444;
}
/* end of styling menu */


/* Styling intro area */
div.intro{
	height:350px;
	text-align:center;
	background: url('../images/backgrounds/bg.png') 100% 52%;
	background-size: cover;
    border-bottom: #fff;
}


div.intro-caption{
    color:#FFF;
    padding:2% 0 2% 0;
	margin-top:55px;
}

.intro-caption h1{
	font-weight:bolder;
	margin-bottom:5px;
	font-size:3.5em;
}

.intro-caption h2{
	font-size:1.5em;
	font-weight:bolder;
}

.intro .col3{
	float:none;
	margin:auto;
}

.intro .button{
	background:#FF0000;
	border:none;
	color:#FFF;
	padding: 15px 0 15px 0;
	margin:auto;
	cursor:pointer;
}

.intro .button:hover{
	background:#FFFFFF;
	color:#FF0000;
}

.intro input[type="text"]:focus {
	outline: none;
	border-color: #ffffff;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}


h1.styled-header{
	text-transform: uppercase;
}


h2.styled-header{
	color:#666;
	font-size:1.3em;
	font-weight:normal;
}

h3.styled-header{
	font-weight:normal;
	font-size:1.2em;
	padding-bottom:5px;
}

div.data-element{
	height:100px;
}




div.data-element{
    text-align:center;
}

div.data-element .fa{
	font-size:3em;
    display:block;
    color:#34495e;
    margin-bottom:20px;
}

.data-element a{
    color:#34495e;
    font-weight:bolder;
}
.data-element a:hover,div.data-element .fa:hover{
    color:#FF0000;
}





div.frame{
	height:100px !important;
}






div.statistics{
    background:#00A885;
}

div.statistic-element p.value{
    font-size:3em;
    font-weight:bolder;
    color: #ffffff;
    margin-bottom: 0;
}

div.statistic-element p.label{
    font-size:1.4em;
    color: #ffffff;
}




/** DATA SET PAGE **/
div.page-title{
    background: url('../images/backgrounds/20170719_190732.jpg') 100% 83%;
    font-weight:normal;
    height:230px;
    color: #ffffff;
}

div.page-title h1{
    font-weight:normal;
    padding-top:170px;
}

ul.search-results{
	list-style: none;
}


.search-results a{
	color: #ff0000;
}
.search-results a.minor-link{
	color: #36475f;
	font-style: italic;
}

.search-results h2{
	font-weight: normal;
	margin-bottom:10px;
}

.search-results a:hover{
	text-decoration: underline;
}

.search-results p{
	font-size: 1.2em;
}

ul.search-results li{
	margin-bottom: 50px;
}

ul.search-results{
	padding:0;
	margin:0;
}

span.icon-spacer-left{
	padding-left:5px;
}

span.icon-spacer-right{
	padding-right:10px;
}
ul.list-styled{
    margin:0;
    padding: 0;
}
ul.list-styled li{
    font-size:1.0em;
    padding:15px 0;
    cursor:default;
    list-style: none;
    color:#666666;
    border-bottom: 1px solid #F0F4F7;
}

ul.list-styled li:hover{
    background:#F6F9FB;
}

.align-left div.divider{
    margin:15px 0;
}
span.title{
    font-weight:bolder;
}



div.footer{
	background:#fff;
	font-weight:bolder;
	height:150px;
}

div.lo-footer{
	background:#ffffff;
}

.lo-footer p{
	padding-top:10px;
}

.markdown-content{
	text-align: justify;
}
.markdown-content h2,.markdown-content h3{
	color:#ff0000;
	margin-bottom:5px;
}

.markdown-content h2{
	text-transform: uppercase;
}

.markdown-content h4{
	margin-bottom:5px;
}

.markdown-content ul {
	text-align: left;
}

.markdown-content ul li {
	margin-bottom: 8px;
	list-style-image: url('../images/icons/bullet.png');
}

.markdown-content ol {
	list-style: none;
	counter-reset: item;
}
.markdown-content ol li {
	counter-increment: item;
	margin-bottom: 5px;
	list-style-image: none;
}
.markdown-content ol li:before {
	margin-right: 10px;
	content: counter(item);
	background: #ff0000;
	border-radius: 100%;
	color: white;
	width: 1.2em;
	text-align: center;
	display: inline-block;
	padding:0.5em;
	font-weight:bolder;
}
a.styled-link{
    color:#ff0000;
}
a.styled-link:hover{
    text-decoration: underline;
}
table.data-grid{
    width:100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 1em;
}
table.data-grid td{
    border: 1px solid #E7ECF1;;
    padding:12px 10px;
}

table.data-grid tr.odd{
    background-color: #FBFCFD;
}

table.data-grid tbody tr:hover{
    background: #f3f7f9;
    cursor:default;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

table.data-grid th{
    border: 1px solid #ff0000;
    border-bottom:2px solid #ff0000;
    text-transform: uppercase;
    background: #ff0000;
}

table.data-grid th a,table.data-grid th span{
    text-decoration: none;
    color:#FFFFFF !important;
    display: block;
    padding:5px 10px;
}


table.data-grid th.number{
    width:50px;
}

table.data-grid a.link{
    text-decoration: none;
    color:#5B9BD1;
}

table.data-grid a.link:hover{
    text-decoration: underline;
}

/* Responsive Columns */
/* Basic Column definitions */
.col1 { width: 6.86%; }
.col2 { width: 15.33%; }
.col3 { width: 23.8%; }
.col4 { width: 32.26%; }
.col5 { width: 40.73%; }
.col6 { width: 49.2%; }
.col7 { width: 57.66%; }
.col8 { width: 66.13%; }
.col9 { width: 74.6%; }
.col10 { width: 83.06%; }
.col11 { width: 91.53%; }
.col12 { width: 100%; margin: 0; }
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin: 0 1.6% 0 0;
}
.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0;
}

/*Responsive images*/
.col1 img.responsive, .col2 img.responsive, .col3 img.responsive, .col4 img.responsive, .col5 img.responsive, .col6 img.responsive, .col7 img.responsive, .col8 img.responsive, .col9 img.responsive, .col10 img.responsive, .col11 img.responsive, .col12 img.responsive {
	width: 100%;
	height: auto;
	display: block;
}


.glyphicon-exclamation-sign::after {
	font-family: FontAwesome;
	content: "\f06a";
}

/* *********************************************************************************************************************
 * Mobile devices
 */
@media all and (max-width: 935px) {

	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
		/*text-align:center;*/
		width: 100%;
		float:none;
	}

	.no-mobile{
		display: none;
	}

	div.header {
		text-align:center;
		height:auto;
		padding-bottom: 0;
	}

	div.language-switcher{
		height:auto;
		background: #EEEEEE;
		padding:5px 0;
	}

	div.header .logo{
		width:100%;
		float:none;
		text-align:center;
		color:#555;
	}

	div.navigation-bar{
		padding:0;
		margin:0;
	}

	div.header .section-inner{
		width:100%;
	}

	div.intro{
		height:auto;
		padding: 30px 0;
	}

	.intro div.container{
		width:95%;
	}

	#menu {
		display:none;
	}

	.slicknav_menu {
		display:block;
		background:#c0392b;
		padding:0;
	}

	.navigation-bar{
		margin:auto;
		text-align: center;
	}

	div#menu-area{
		float:none;
		display: none;
		text-align: left;
	}

	div.intro-caption{
		margin-top:0;
	}

	.slicknav_nav {
		text-align: left;
		font-weight: bolder;
	}

	.slicknav_btn{
		background-color: #8a1b1d;
		border-top:1px solid #940018;
		border-bottom:1px solid #940018;
	}
	.slicknav_nav a{
		text-transform: uppercase;
		width:100%;
	}
	.slicknav_menu li{
		border-top:1px solid #940018;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a{
		margin:0;
	}
	.slicknav_nav a:focus{
		outline: none;
	}
	.slicknav_nav a:hover,.slicknav_nav .slicknav_row:hover{
		background: #940018;
		color:#ffffff;
		border-radius: 0;
	}

	.slicknav_nav ul{
		margin:0;
	}

	.slicknav_nav ul li a {
		padding-left:20px;
		text-transform: capitalize;
	}

	div.top-bar{
		background:#F2F2F2;
	}
	div.top-bar a{
		color:#34495E;
	}
	div.page-title h1{
		padding:15px 0;
	}
	div.top-bar .align-right{
		text-align:left;
	}



	div.page-title{
		height:auto;
	}
}


.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.sr-only{
	display:none;
}

.pagination > li {
	display: inline;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #ff0000;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	z-index: 2;
	color: #ff0000;
	background-color: #eee;
	border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #ff0000;
	border-color: #ff0000;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}
