{% extends 'public/base.html.twig' %}

{% block content %}
    <div class='col12 intro align-center'>
        <div class='section-inner'>
            <div class='intro-caption col12'>
                <div class='container'>
                    <h2>THE JUDICIARY, UNITED REPUBLIC OF TANZANIA</h2>
                    <h1>OPEN DATA PORTAL</h1>
                    <form class='search-form user-form' action="{{path('public_search_results')}}" method="GET">
                        <input type='text' name='q' value='' placeholder='Search for a court... '/>
                        <div class='space-20 col12'></div>
                        <input type='submit' class="btn btn-primary" value='Search'  />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
