{% extends 'public/base.html.twig' %}

{% block content %}
    <div class='col12 intro'>
        <div class='section-inner'>
            <div class='intro-caption col12'>
                <div class='container'>
                    <h2>THE JUDICIARY, UNITED REPUBLIC OF TANZANIA</h2>
                    <h1>OPEN DATA PORTAL</h1>
                    <form class='search-form user-form'>
                        <input type='text' name='search' value='' placeholder='Search datasets... '/>
                        <div class='space-20 col12'></div>
                        <div class='col3'>
                            <input type='submit' name='search' class="btn btn-primary" value='Search' class='button transition' />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col12 white-space align-center">
        <div class="col12 space"></div>
        <div class="section-inner">
            <h1 class="styled-header">Available Datasets</h1>
            <div class="divider"></div>
            <div class="space-20"></div>
            {% for dataset in datasets %}
                <div class="col2 data-element {% if loop.index==6 %}last{% endif %}">
                    <div class="frame">
                        <p><a href="{{ path('public_dataset_page',{'datasetName':dataset.path}) }}"><i class="fa fa-{{ dataset.icon }}" aria-hidden="true"></i>{{ dataset.name }}</a></p>
                    </div>
                </div>
            {% endfor %}
             <div class="col12 space"></div>
        </div>
    </div>



{% endblock %}
