<div id="third-page" class="step">
    <div class="container">
        <div class="imageBox" id="imageUploadBox"
             data-image-upload-path="{{ path('upload_student_avatar') }}"
             data-image-file="{{ uploadedPhoto }}"
             data-primary-identifier="{{ app.request.get('newsId') }}">
            <div class="thumbBox"></div>
            <div class="spinner" style="display: none"></div>
        </div>
        <div class="imageBoxAction">
            <input type="file" id="file" style="float:left;">
            <button id="btnCrop" class="btn btn-blue" value="Upload"><span class="icon-spacer-right"><i class="fa fa-upload" aria-hidden="true"></i></span>Upload</button>
            <button id="btnZoomIn" class="btn btn-green"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button id="btnZoomOut" class="btn btn-red"><i class="fa fa-minus" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div id="dialog" title="" class="dialog-title" style="display:none">
    <p><span class="dialog-message"></span></p>
</div>